.alert-snack-container > .mat-simple-snackbar {
    font-weight: bold;
}

.alert-error .mat-simple-snackbar-action {
    color: red;
}

.alert-success .mat-simple-snackbar-action {
    color: green;
}