md-toolbar {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mat-toolbar-row {
    background-color: $blue !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.social-icon {
    margin-right: 16px;
}

.nav-item-active {
    background-color: $accentblue !important;
}

.nav-item:hover {
    opacity: 0.4;
}

.nav-item {
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: $blue;
    font-family: $main-font;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 8px;
    padding: 8px 8px;
    border-radius: 8px !important;
}