service cloud.firestore {
  match /databases/{database}/documents {
    match /Activity/{Activity} {
      allow read: if true
    }
    match /Project/{Project} {
      allow read: if true
    }
    match /Visitor/{Visitor} {
      allow read: if true
    }
  }
}
