<mat-card>
    <mat-card-header class="device-container">
        <div class="device-title-container full-width-length" [ngClass]="{'stencil-shimmer': loading}">
            <mat-card-title>{{status.name}}</mat-card-title>
        </div>
        <div class="full-width-length" [ngClass]="{'stencil-shimmer': loading}">
            <mat-card-subtitle *ngIf="loading">&nbsp;</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!loading && lastActiveDate()">Last Status: <span>{{lastActiveDate()}}</span></mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="showContent">
            <p>Device CPU Temp (C): <span>{{status.cpuTemp}}</span></p>
            <p>Lux (Light Intensity): <span>{{status.lux}}</span></p>
            <p>CO2 (ppm): <span>{{status.co2}}</span></p>
            <p>TVOC (ppm): <span>{{status.tvoc}}</span></p>
            <p>Room Temp (C): <span>{{status.roomTemp}}</span></p>
            <p>Pressure (BAR): <span>{{status.pressure}}</span></p>
            <p>Humidity <span>{{status.humidity}}</span></p>
        </ng-container>
    </mat-card-content>
    <mat-card-actions>
        <ng-container [ngSwitch]="loading">
            <button *ngSwitchCase="true" class="stencil-shimmer" mat-button>
                &nbsp;
            </button>
            <button *ngSwitchCase="false" mat-button color="primary" (click)="onShowContent()">
                <div >{{contentButtonText}}</div>
            </button>
        </ng-container>
    </mat-card-actions>
</mat-card>