<div class="overview-group-column">
  <!-- About Me -->
  <div class="overview-group-row parent-container">
      <img class="bio-img" alt="bio-pic" src="/assets/images/bio_pic.jpg">
      <div class="display-content">
          <h1 class="parent-title"> Hi There! </h1>
          <p>Hello! My name is Kevin Lutzer, and I'm a Software Engineer with over 8 years of industry experience. I enjoy solving complex problems, building products, and writing software. Feel free to reach out and start a conversation.</p>
          <p>I currently work at <a href="http://nureva.ca">Nureva</a>, where I build software and firmware for their IoT platform.</p>
      </div>
  </div>

  <!-- Experience -->
  <h1 class="parent-title">My Experience</h1>
  <div *ngIf="(experiences$ | async) as experiences" class="overview-group-row parent-container">
      <activity-summary *ngFor="let activity of experiences" class="display-content" [activity]="activity"></activity-summary>
  </div>

  <!-- Thanks for Visiting!  -->
  <!-- <h1 class="parent-title">Thank You for Visiting!</h1>
  <div class="overview-group-row parent-container">
    <visitor-dialog #visitorDialog (visitorSubmitted$$)="submitVisitor($event)" class="overview-display-container"></visitor-dialog>
    <visitor-chart></visitor-chart>
  </div> -->

  <!-- Certifications -->
  <h1 class="parent-title"> Certifications </h1>
  <div *ngIf="(certifications$ | async) as certifications" class="overview-group-row parent-container">
      <activity-summary *ngFor="let activity of certifications" class="display-content" [activity]="activity"></activity-summary>
  </div>

  <!-- About this Site -->
  <h1 class="parent-title">About This Site</h1>
  <div class="overview-group-row parent-container">
        <p class="overview-display-container">I built this site as a space to experiment with new technologies. It originally started as a Python and Angular application. Over time,
          I've transitioned the backend from Python to Go and moved hosting from a Raspberry Pi to Google Cloud Platform, and most recently to Vercel.</p>  </div>
</div>