.display-content {
    max-width: 400px !important;
    width: 100%;
    margin: 16px 16px;
}

.display-content-height-1 {
    min-height: 500px;
}

.page-body-width {
    max-width: 910px !important;
}

.website-content {
    max-width:1000px;
}

.website-content-container {
    display: flex;
    justify-content: center;
    align-content:  center;
  }

.website-content-item {
    width: 360px;
    margin: 8px;
}

.full-width-length {
    width: 100% !important;
    height:100% !important;
}