<md-card *ngIf="project">
  <img md-card-image [src]="project.imageUrl">
  <md-card-title>
    {{project.name}}
  </md-card-title>
  <md-card-subtitle>
    {{project.tagline}}
  </md-card-subtitle>
  <md-card-content>
    {{project.description}}
  </md-card-content>
  <md-card-actions class="action-container">
    <md-chip-list class="chip-container">
      <md-chip class="chip" *ngFor="let tag of project.tags">{{tag}}</md-chip> 
    </md-chip-list>
    <button md-fab *ngIf="project.githubUrl" (click)="navigateToGithubProject()">
      <img src="/assets/images/github_icon.ico" style="width: 32px; height: 32px; line-height: 2;">
    </button>
  </md-card-actions>
</md-card>
