<div class="display-container">
    <h1>My Experience</h1>
</div>
<div class="display-container">
    <activity-list></activity-list>
</div>
<div class="display-container">
    <div class="display-content" style="height: 180px">
        <h1>Software Development</h1>
        <p>I love to program computers as I believe it is the easiet way to build something. You don't need any materials, just a computer! I am capable of doing anything from embedded systems development, to frontend development. I have worked with many different lanuages and frameworks over the course of my life and I have enjoyed learning all of them.</p>
    </div>
    <div class="display-content" style="height: 180px">
        <h1>Engineering</h1>
        <p>Classically I was trained as an electrical engineer, but the problem solving and techical skills I learnt in school have spilt over to all aspects of my life. I love to build things and solve problems!</p>
    </div>
</div>    
<div class="display-container">
    <div class="display-content">
        <h1>About this site</h1>
        <p>I built this website as a portfolio of my abilities, skills and projects that I have worked on. It has been a project in develop for over a year now. Originally I built this using Django for backend template rendering, and bootstrap for styling.</p>
    </div>
    <md-card class="display-content">
        <md-card-header>
            <md-card-title>
                I used a wide variety of technologies and tools to build this website. Here are a few!
            </md-card-title>
        </md-card-header>
        <md-card-content>
            <div class="display-container">
                <div class="display-content">
                    <a mdTooltip="appengine" href="https://cloud.google.com/appengine/" class="software-icon"><img src="assets/images/icons/appengine.png"></a>
                    <a mdTooltip="datastore" href="https://cloud.google.com/datastore/" class="software-icon"><img src="assets/images/icons/datastore.png"></a>
                    <a mdTooltip="functions" href="https://cloud.google.com/functions/" class="software-icon"><img src="assets/images/icons/functions.png"></a>
                    <a mdTooltip="material design" href="https://material.io/" class="software-icon"><img src="assets/images/icons/material-design.png"></a>
                    <a mdTooltip="angular io" href="https://angular.io" class="software-icon"><img src="assets/images/icons/angular.png"></a>
                </div>
            </div>
        </md-card-content>
    </md-card>         
</div>
