<div class="display-container-reverse">
    <div class="display-content">
        <h1>I am an Electrical Engineer and Computer Scientist</h1>
        <p>I went to the <a href="https://www.usask.ca/">University of Saskatchewan</a> for four and a half years, studying both electrical engineering and computer science.</p>
    </div>
    <mat-card class="display-content">
        <mat-card-content>
            <p>In that time I had the opportunity to build some really cool things like </p>
            <ul>
                <li>an 8 bit processor using an FPGA</li>
                <li>am image processing based control system that could measure the ground velocity of a moving quad copter</li>
                <li>a social media app for baby sitters and parents needing a baby sitter</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
<div class="display-container">
    <h1>My Experience</h1>
</div> 
<div class="display-container">
    <div *ngIf="activities$ | async as activities; else loader ">
        <div
        class="page-body-width"
        fxLayoutWrap="wrap"
        fxLayoutAlign="space-between"
        fxFlex="100%">
            <activity-details fxFlex="49%" fxFlex.xs="100%" *ngFor="let activity of activities" [activity]="activity"></activity-details>
        </div>
    </div>
    <ng-template #loader>
        <div class="loader">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>
<div class="display-container">
    <div class="display-content">
        <h1>About this site</h1>
        <p>I built this website as a portfolio of my abilities, skills and projects that I have worked on. It has been a project in development for over a year now. Originally I built this using Django for backend template rendering, and bootstrap 2 for styling.</p>
    </div>
    <mat-card class="display-content">
        <mat-card-header>
            <mat-card-title>
                I used a wide variety of technologies and tools to build this website. Here are a few!
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="display-container">
                <div class="display-content">
                    <a matTooltip="appengine" href="https://cloud.google.com/appengine/" class="software-icon"><img alt="appengine img" src="assets/images/icons/appengine.png"></a>
                    <a matTooltip="datastore" href="https://cloud.google.com/datastore/" class="software-icon"><img alt="datastore img" src="assets/images/icons/datastore.png"></a>
                    <a matTooltip="functions" href="https://cloud.google.com/functions/" class="software-icon"><img alt="functions img" src="assets/images/icons/functions.png"></a>
                    <a matTooltip="material design" href="https://material.io/" class="software-icon"><img alt="material img" src="assets/images/icons/material-design.png"></a>
                    <a matTooltip="angular io" href="https://angular.io" class="software-icon"><img alt="angular img" src="assets/images/icons/angular.png"></a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>         
</div>
