<!-- name: string;
tagline: string;
description: string;
imageUrl: string;
githubUrl: string;
tags: string[];
startDate: any;
endDate?: any; -->
<mat-card *ngIf="project || shimmer">
    <mat-card-header>
        <div [ngClass]="{'stencil-shimmer': shimmer}" mat-card-avatar>
            <img alt="project image" *ngIf="project.imageUrl" [src]="project.imageUrl">
        </div>
        <div class="full-width-length" [ngClass]="{'stencil-shimmer': shimmer}">
            <mat-card-title>{{project.name}}</mat-card-title>
        </div>
        <div class="full-width-length">
            <mat-card-subtitle> {{project.tagline}} {{cardDate()}} </mat-card-subtitle>
        </div>  
    </mat-card-header>
    <mat-card-content>
        <div [ngClass]="{'stencil-shimmer': shimmer}">
            <p class="full-width-length">{{project.description}}</p>
            <br>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <ng-container [ngSwitch]="shimmer">
            <button class="stencil-shimmer" *ngSwitchCase="true" mat-button (click)="onShowContent()">
                &nbsp;
            </button>
            <button *ngSwitchCase="false" mat-button color="primary" (click)="onShowContent()">
                <div *ngIf="!shimmer">{{contentButtonText}}</div>
            </button>
        </ng-container>
    </mat-card-actions>
</mat-card>