<mat-card *ngIf="project || shimmer" [ngStyle]="height && {'min-height.px': height}">
  <mat-card-header>
    <div [ngClass]="{'stencil-shimmer': shimmer}" mat-card-avatar>
        <img mat-card-image alt="project image" *ngIf="project.imageUrl" [src]="project.imageUrl">
    </div>
    <div class="full-width-length" [ngClass]="{'stencil-shimmer': shimmer}">
        <mat-card-title>{{project.name}}</mat-card-title>
    </div>
    <div class="full-width-length" [ngClass]="{'stencil-shimmer': shimmer}">
        <mat-card-subtitle>{{project.subTitle}} {{dateString}}</mat-card-subtitle>  
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list *ngIf="!shimmer">
      <mat-chip *ngFor="let tag of project.tags">{{tag}}</mat-chip> 
    </mat-chip-list>
    <div [ngClass]="{'stencil-shimmer': shimmer}">
        <p class="full-width-length">{{project.description}}</p>
        <br>
    </div>
  </mat-card-content>
  <mat-card-actions>
      <ng-container [ngSwitch]="shimmer">
          <button class="stencil-shimmer" *ngSwitchCase="true" mat-button (click)="onShowContent()">
              &nbsp;
          </button>
          <button mat-button color="primary" *ngIf="project.githubUrl" (click)="navigateToSeeMore()">
              See More!
          </button>
      </ng-container>
  </mat-card-actions>
</mat-card>