<mat-card *ngIf="project">
    <mat-card-header>
        <mat-card-title>{{project?.name}}</mat-card-title>
        <mat-card-subtitle>{{cardDate()}}</mat-card-subtitle>  
    </mat-card-header>
    <img mat-card-image *ngIf="project.imageUrl" alt="project image" [src]="project?.imageUrl">
    <mat-card-content>
        <div class="tag-container">
            <mat-chip-list>
                <mat-chip *ngFor="let tag of project?.tags">{{tag}}</mat-chip> 
            </mat-chip-list>    
        </div>
        <p class="description-container">{{project?.description}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button matTooltip="Copy share link to clipboard" mat-icon-button (click)="goToGithub(blog)">
            <mat-icon svgIcon="github-black"></mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
    