<mat-card *ngIf="activity">
    <mat-card-header>
        <img mat-card-avatar alt="activity image" *ngIf="activity.activityImgUrl" [src]="activity.activityImgUrl">
        <mat-card-title><p>{{activity.title}}</p></mat-card-title>
        <mat-card-subtitle>
            <p>{{activity.location}} {{activity.subTitle}} {{cardDate()}}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-card-content">
            <p >{{activity.description}}</p>
            <p *ngIf="activity.content && showContent">{{activity.content}}</p>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button *ngIf="activity.content" mat-button color="primary" (click)="onShowContent()">
        <div>{{contentButtonText}}</div>
      </button>
    </mat-card-actions>
</mat-card>