<div
    fxFlexFill
    fxLayoutAlign="center stretch"
    fxLayout.xs="column"
    fxLayout="row wrap"
    fxLayoutGap="grid">
   <h1>Devices</h1><br>
    <div 
        fxFlexFill
        fxLayoutAlign="center stretch"
        fxLayout.xs="column"
        fxLayout="row wrap"
        fxLayoutGap="grid" 
        *ngIf="cardData$ | async as cardData">
        <ng-container *ngFor="let data of cardData">
            <device-status-card [status]=data></device-status-card>
        </ng-container>
    </div>
    <h1>Telemetry</h1>
    <device-telemetry-table></device-telemetry-table>
</div>


