<mat-card *ngIf="project" [ngStyle]="height && {'min-height.px': height}">
  <mat-card-header>
    <mat-card-title>{{project.name}}</mat-card-title>
    <mat-card-subtitle>{{project.subTitle}} {{dateString}}</mat-card-subtitle>  
  </mat-card-header>
  <img mat-card-image alt="project image" *ngIf="project.imageUrl" [src]="project.imageUrl">
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of project.tags">{{tag}}</mat-chip> 
    </mat-chip-list>
    <p>{{project.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-sbutton color="primary" *ngIf="project.githubUrl" (click)="navigateToSeeMore()">
      See More!
    </button>
  </mat-card-actions>
</mat-card>
  