<div>
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="ipAddress">
      <md-header-cell *cdkHeaderCellDef> IP Address </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.ipAddress}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="visitorType">
      <md-header-cell *cdkHeaderCellDef> Visitor Type </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.type}}% </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayLabels"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayLabels;"></md-row>
  </md-table>

</div>