<form>
  <md-form-field>
      <input mdInput [(ngModel)]="contact.firstName" name="first-name" placeholder="Name (First and Last)">
  </md-form-field>
  <md-form-field>
      <input mdInput [(ngModel)]="contact.lastName" name="last-name" placeholder="Subject">
  </md-form-field>
  <md-form-field>
      <input mdInput [(ngModel)]="contact.subject" name="subject" placeholder="Subject">
  </md-form-field>
  <md-form-field>
      <input mdInput [(ngModel)]="contact.emailAddress" name="return-email" placeholder="Return Email">
  </md-form-field>
  <md-form-field>
      <textarea mdInput [(ngModel)]="contact.message" name="message" placeholder="Message"></textarea>
  </md-form-field>
  <button md-raised-button (click)="onSubmit()">
    Submit
  </button>
</form>