<form #contactForm="ngForm" (ngSubmit)="onSubmit()" validate>
    <table>
        <tr>
            <td><md-form-field>
                <input mdInput required [(ngModel)]="contact.firstName" name="first-name" placeholder="First Name">
            </md-form-field></td>
            <td><md-form-field>
                <input mdInput [(ngModel)]="contact.lastName" name="last-name" placeholder="Last Name">
            </md-form-field></td>
        </tr>
        <tr>
            <td><md-form-field>
                <input mdInput [(ngModel)]="contact.subject" name="subject" placeholder="Subject">
            </md-form-field></td>
            <td><md-form-field>
                <input mdInput required [formControl]="emailFormControl" [(ngModel)]="contact.emailAddress" name="return-email" placeholder="Return Email">
                <md-error *ngIf="emailFormControl.hasError('email')">
                  Please enter a valid email address
                </md-error>
            </md-form-field></td>
        </tr>
    </table>
    <md-form-field>
        <textarea mdInput required [(ngModel)]="contact.message" name="message" placeholder="Message" class="full-length"></textarea>
    </md-form-field> <br>
    <button md-raised-button [disabled]="!contactForm.form.valid">
        Submit
    </button>
</form>