@mixin center-items() {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.action-container {
    @include center-items();
}

md-chip {
    margin: 0px 6px 8px 0px !important;
}

.chip-container {
    width: 100%;
}

:host {
    position: relative;
}