<!-- <div class="page-background">
  <app-nav></app-nav>
  <h1 class="title">Byte Sized Bio</h1>
  <md-icon class="title-icon">face</md-icon>
  <div class="bio-container"> 
    <img class="bio-picture" [src]="'https://storage-download.googleapis.com/personal-website-156005.appspot.com/bio_pic.jpg'">
    <h2>Hello!</h2>
    <p>My name is Kevin Lutzer and I am an Electrical Engineer! I love solving problems, making things, and programming computers. Reach out and start a conversation!</p>
  </div>
</div> -->
<kl-shell></kl-shell>