@mixin center-items() {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.action-container {
    @include center-items();
}

.chip-container {
    width: 100%;
}
