<md-card *ngIf="item">
  
  <md-card-header>
      <img md-card-avatar [src]="item.iconUrl">
      <md-card-title>{{item.title}}</md-card-title>
      <md-card-subtitle>{{item.subTitle}}</md-card-subtitle>  
  </md-card-header>
  
  <md-card-content>
      {{item.description}}
  </md-card-content>
  
  <md-card-actions class="action-container">
    <md-chip-list class="chip-container">
      <md-chip class="chip" *ngFor="let tag of item.tags">{{tag}}</md-chip> 
    </md-chip-list>
    <button md-fab *ngIf="item.githubUrl" (click)="navigateToGithubProject()">
      <img src="/assets/images/github_icon.ico" style="width: 32px; height: 32px; line-height: 2;">
    </button>
  </md-card-actions>
  
</md-card>
