<mat-card *ngIf="activity">
<mat-card-header>
    <img mat-card-avatar alt="activity image" *ngIf="activity.activityImgUrl" [src]="activity.activityImgUrl">
    <mat-card-title>{{activity.title}}</mat-card-title>
    <mat-card-subtitle>
        {{activity.subTitle}} {{dateString}}
    </mat-card-subtitle>  
</mat-card-header>
<mat-card-content>
    <p>{{activity.description}}</p>
    <ng-container *ngIf="activity.content">
        <p *ngIf="showContent">{{activity.content}}</p>
        <br>
    </ng-container>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button color="primary" (click)="onShowContent()"> {{contentButtonText}} </button>
</mat-card-actions>
</mat-card>