#bio-img {
    border-radius: 50%;
    height: 155px;
    width: 155px;
}

.survey-call-to-action:hover {
    box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12) !important;
    cursor: pointer;
}

.overview-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}