<div class="overview-group-column">
    <div class="overview-group-row">
        <img class="bio-img" alt="bio-pic" src="/assets/images/other_bio_pic_256x256.jpg">
        <div>
            <h1> Hello! </h1>
            <p> My name is Kevin Lutzer and I am an electrical engineer, developer, and maker! I love solving problems, making things, and programming computers. Reach out and start a conversation! </p>
            <p>I went to the <a href="https://www.usask.ca/">University of Saskatchewan</a> for four and a half years, where I recieved an B.E in Electrical Engineering and a B.Sc. in Computer Science.</p>
        </div>
    </div>
    <h1> My Experience </h1>
    <div>
        <ng-container *ngIf="activityCtx$ | async as ctx">
            <div 
                fxFlexFill
                fxLayoutAlign="center stretch"
                fxLayout.xs="column"
                fxLayout="row wrap"
                fxLayoutGap="grid" 
                >
                <ng-container *ngFor="let activity of ctx.activities">
                    <div class="display-content">
                        <activity-summary [shimmer]="ctx.isLoading" [activity]="activity"></activity-summary>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div class="overview-group-row">
        <mat-card (click)="onStartSurveyClick()" class="website-content-item survey-call-to-action">
            <mat-card-header>
                <mat-card-title>Now that you know a little bit about me, can you tell me something about yourself?</mat-card-title>
                <mat-card-subtitle>Don't worry, your identification is not being tracked or saved!</mat-card-subtitle>
                <h1>Click Me!</h1>
            </mat-card-header>
        </mat-card>
        <mat-card class="website-content-item">
            <div *ngIf="loading$ | async; else loaded ">
                <visitor-chart [visitors]="defaultVisitors"> </visitor-chart>
            </div>
            <ng-template #loaded>
                <visitor-chart [visitors]="visitors$ | async"> </visitor-chart>
            </ng-template>
        </mat-card>
    </div>
    <div 
        fxLayout="row" 
        fxLayoutAlign="center center"
        fxLayout.xs="column">
        <div class="display-content">
            <h1>About this site</h1>
            <p>I built this website as a portfolio of my abilities, skills and projects that I have worked on. It has been a project in development for over a year now. Originally I built this using Django for backend template rendering, and bootstrap 2 for styling.</p>
        </div>
        <mat-card class="display-content">
            <mat-card-header>
                <mat-card-title>
                    I used a wide variety of technologies and tools to build this website. Here are a few!
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="display-container">
                    <div class="display-content">
                        <a matTooltip="appengine" href="https://cloud.google.com/appengine/" class="software-icon"><img alt="appengine img" src="assets/icons/appengine.png"></a>
                        <a matTooltip="datastore" href="https://cloud.google.com/datastore/" class="software-icon"><img alt="datastore img" src="assets/icons/datastore.png"></a>
                        <a matTooltip="functions" href="https://cloud.google.com/functions/" class="software-icon"><img alt="functions img" src="assets/icons/functions.png"></a>
                        <a matTooltip="material design" href="https://material.io/" class="software-icon"><img alt="material img" src="assets/icons/material-design.png"></a>
                        <a matTooltip="angular io" href="https://angular.io" class="software-icon"><img alt="angular img" src="assets/icons/angular.png"></a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>         
    </div>
    <!--
    <div class="website-content-item">
        <h1> Survey Results </h1>
        <p> Below is a representation of the different types of people that have completed the survey. Besides my website I have made a bunch of other stuff. Check it out <a  ng-reflect-router-link="/projects" href="/projects">here</a></p>
    </div>
    <mat-card (click)="onOpenResume()"  class="website-content-item survey-call-to-action">
        <mat-card-header>
        <div>
            <mat-card-title>If you want to learn more about me, why don't you check out my resume?</mat-card-title>
            <mat-card-subtitle>Thanks for looking!</mat-card-subtitle>
        </div>
        <h1 >Click Me!</h1>        
        </mat-card-header>
    </mat-card> -->
</div>