
.bio-img {
    border-radius: 50%;
    max-width: 40%;
}

.business-card-img {
    max-width: 75%;
    max-height: auto;
}

.survey-call-to-action:hover {
    box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12) !important;
    cursor: pointer;
}

.overview-group-column {
    max-width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview-group-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    div {
        width: 50%;
        margin: 16px;
    }
}