<mat-card class="left-mat-card-offset" *ngIf="item" [ngStyle]="height && {'min-height.px': height}">
  <mat-card-header>
      <img mat-card-avatar *ngIf="item.iconUrl" [src]="item.iconUrl">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-subtitle>
        {{item.subTitle}} {{dateString}}
      </mat-card-subtitle>  
  </mat-card-header>
  <img mat-card-image *ngIf="item.imageUrl" [src]="item.imageUrl">
  <mat-card-content>
    <p>{{item.description}}</p>
    <ng-container *ngIf="item.content">
        <p *ngIf="showContent">{{item.content}}</p>
        <br>
        <button mat-raised-button (click)="onShowContent()"> {{contentButtonText}} </button>
    </ng-container>
  </mat-card-content>
  <mat-card-actions class="display-container">
    <mat-chip-list class="chip-container">
      <mat-chip *ngFor="let tag of item.tags">{{tag}}</mat-chip> 
    </mat-chip-list>
    <button mat-fab *ngIf="item.iconUrl" (click)="navigateToActionLink()">
      <mat-icon svgIcon="action-icon"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
