<md-card class="left-md-card-offset" *ngIf="item" [ngStyle]="height && {'height.px': height}">
  
  <md-card-header>
      <img md-card-avatar *ngIf="item.iconUrl" [src]="item.iconUrl">
      <md-card-title>{{item.title}}</md-card-title>
      <md-card-subtitle>
        {{item.subTitle}} {{dateString}}
      </md-card-subtitle>  
  </md-card-header>
  
  <img md-card-image *ngIf="item.imageUrl" [src]="item.imageUrl">
  
  <md-card-content>
    <p>{{item.description}}</p>
    <ng-container *ngIf="item.content">
        <p *ngIf="showContent">{{item.content}}</p>
        <br><button md-raised-button (click)="onShowContent()"> {{contentButtonText}} </button>
    </ng-container>
  </md-card-content>
  
  <md-card-actions class="display-container">
    <md-chip-list class="chip-container">
      <md-chip class="chip" *ngFor="let tag of item.tags">{{tag}}</md-chip> 
    </md-chip-list>
    <button md-fab *ngIf="item.iconUrl" (click)="navigateToActionLink()">
      <md-icon svgIcon="action-icon"></md-icon>
    </button>
  </md-card-actions>

</md-card>
