<md-card *ngIf="item">
  
  <md-card-header>
      <img md-card-avatar *ngIf="item.iconUrl" [src]="item.iconUrl">
      <md-card-title>{{item.title}}</md-card-title>
      <md-card-subtitle>
        {{item.subTitle}} {{dateString}}
      </md-card-subtitle>  
  </md-card-header>
  
  <img md-card-image *ngIf="item.imageUrl" [src]="item.imageUrl">
  
  <md-card-content>
    <p>{{item.description}}</p>
    <ng-container *ngIf="item.content">
        <p *ngIf="showContent">{{item.content}}</p>
        <br><button md-raised-button (click)="onShowContent()"> {{contentButtonText}} </button>
    </ng-container>
      
      
  </md-card-content>
  
  <md-card-actions class="action-container">
    <md-chip-list class="chip-container">
      <md-chip class="chip" *ngFor="let tag of item.tags">{{tag}}</md-chip> 
    </md-chip-list>
    <button md-fab *ngIf="item.actionUrl" (click)="navigateToActionLink()">
      <img src="/assets/images/github_icon.ico" style="width: 32px; height: 32px; line-height: 2;">
    </button>
  </md-card-actions>

</md-card>
