<h1>Who are you?</h1> 
<form [formGroup]="visitorFormGroup">
    <div [formGroup]="visitorFormGroup">
    <mat-form-field>
        <mat-select formControlName="visitorSelectFormControl" placeholder="type" name="visitorType">
            <mat-option *ngFor="let visitor of visitorOptions" [value]="visitor">
                {{visitor}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="!visitorFormGroup.get('visitorSelectFormControl').valid">This field is required</mat-error> 
    </mat-form-field>
    </div>
</form>
<button (click)="onSubmitClick()" color="primary" mat-raised-button> Submit </button>