.alert-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert-error {
    color: red;
}

.alert-success {
    color: green;
}

.alert-component-action, .alert-component-msg {
    font-weight: bold;
    font-size: 16px;
}
