<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [ngClass]="{hidden: !(isHandset | async)!.matches}"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <ng-container>
      <mat-nav-list>
        <a mat-list-item routerLink="/overview">Overview</a>
        <a mat-list-item routerLink="/projects">Project</a>
        <a mat-list-item href="https://medium.com/@kevinlutzer9">Blogs</a>
        <div mat-list-item 
          fxLayoutAlign="space-evenly"
          fxLayoutContainer>
          <a mat-icon-button matTooltip="contact me" href="mailto:kevin@lutzer.ca"><mat-icon svgIcon="envelope-black"></mat-icon></a>
          <a mat-icon-button matTooltip="github" href="https://github.com/kevinlutzer"><mat-icon svgIcon="github-black"></mat-icon></a>
          <a mat-icon-button matTooltip="linkedin" href="https://ca.linkedin.com/in/kevin-lutzer"><mat-icon svgIcon="linkedin-black"></mat-icon></a>
          <a mat-icon-button matTooltip="résumé"><mat-icon svgIcon="text-file-black"></mat-icon></a>
        </div>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div
      fxLayoutAlign="center"
      fxLayoutContainer
      *ngIf="!(isHandset | async)!.matches">
          <div>
            <button mat-button routerLink="/overview">Overview</button>
            <button mat-button routerLink="/projects">Projects</button>
            <a mat-button href="https://medium.com/@kevinlutzer9">Blogs</a>
          </div>
          <div
            fxLayoutAlign="space-evenly"
            fxLayoutContainer>
            <a mat-icon-button matTooltip="contact me" href="mailto:kevin@lutzer.ca"><mat-icon svgIcon="envelope-black"></mat-icon></a>
            <a mat-icon-button matTooltip="github" href="https://github.com/kevinlutzer"><mat-icon svgIcon="github-black"></mat-icon></a>
            <a mat-icon-button matTooltip="linkedin" href="https://ca.linkedin.com/in/kevin-lutzer"><mat-icon svgIcon="linkedin-black"></mat-icon></a>
            <a mat-icon-button matTooltip="résumé"><mat-icon svgIcon="text-file-black"></mat-icon></a>
          </div>
      </div>
    </mat-toolbar>
    <div class="website-content-container">
    <ng-content>
      <!-- main website content -->
    </ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
